@model Contact

@{
    ViewBag.Title = "Create";
}

<h2 class="bg-info" style="margin-bottom:0px;background-color: whitesmoke;">Create new contact..</h2>
<div class="bg-info text-center" style="padding-top:10px;background-color: whitesmoke;">

    @using (Html.BeginForm("Createe", "Phone"))
    {
        <p>First Name:</p>
        <input type="text" name="F" />

        <p>Last Name:</p>
        <input type="text" name="L" />

        <p>Address:</p>
        <input type="text" name="A" />

        <p>City:</p>
        <input type="text" name="C" />

        <p>State:</p>
        <input type="text" name="S" />

        <p>Zip:</p>
        <input type="text" name="Z" />

        <br />

        <input type="submit" name="CreateContact" />
    }

</div>

<div class="jumbotron text-center" style="">
    <h1>You can add phone numbers through the Details page after initial contact creation</h1>
</div>