@model IEnumerable<Contact>
@{
    ViewBag.Title = "PhonebookView";
    WebGrid newGrid = new WebGrid(Model, rowsPerPage: 15);
    
    
}
    <style>
        .webGrid 
        {
            width: 100%;
            padding:10px;
            background-color: ghostwhite;
            
        }
        .rows 
        {
            background-color: whitesmoke;
        }
        .header 
        {
            background-color: darkgray;
        }

        .select 
        {
            background-color: grey;
        }


    </style>
    <div style="background-color:whitesmoke;margin-top: 0px; width: 100%;">

        <h1 style="margin-top:5px;text-align: center; justify-content:center">Hello, @ViewBag.Userr</h1>

        <div class="row">

            <div class="col-lg-12 col-sm-12 col-md-12 text-center">
                <div class="btn-group-lg text-center" style="justify-content:center;text-align: center;">
                    <button class="btn-lg btn-success">@Html.ActionLink("Create Contact","Create","Phone")</button>
                </div>
            </div>

        </div>

        <div style="margin:25px">

            <h2>My Phone Numbers:</h2>


            <input id="livesearchtags" name="livesearchtags"  placeholder="Search" />
            <div id="result" class="tag-results">

                <!--maybe make bool for search vs non search table?-->
                <!--This does not work very well-->
                @Html.Partial("_partialGrid")


            </div>
        </div>
<script>


    document.getElementById('livesearchtags').addEventListener('keyup', function (e)
    {
        //Run LiveSearch on every key up 
        LiveSearch()
    });

    function LiveSearch()
    {
        //Get the input value
        let value = document.getElementById('livesearchtags').value

        $.ajax
            ({
            type: "POST",
            url: "/Phone/_partialGrid",
            // Attach the value to a parameter called search
            data: { search: value },
            datatype: "html",
            success: function (data) {
                $('#result').html(data);
            }
        });
    }
</script>
